header{
    color:white;
    font-family:garamond;
    font-size:5em;
    text-align:center;
 }
 #calcOuterContainer{
    display:block;
    width:26em;
    height:32em;
    background-color:rgba(255, 255, 255, .3);
    border:2px solid #2e294e;
    border-radius:5px;
    margin:auto;
 
 }
 #calcInnerContainer{
    display:grid;
    grid-template-columns:.5em 4em 4em 4em 4em .5em;
    grid-template-rows:.5em 4em 4em 4em 4em 4em 4em .5em;
    grid-gap:1em;
    /*background-color:BFBDBB;*/
    /*border:2px solid #2e294e;*/
    border-radius:5px;
    justify-content:space-evenly;
 }
 #displayBox{
    font-size:3em;
    color:f7f7ff;
    grid-column:2/6;
    grid-row:2/3;
    padding:0 .19em 0 .19em;
    background-color:60656f;
    border:1px solid black;
 }
 
 #AC{
    display:flex;
    justify-content:center;
    grid-column:2/3;
    grid-row:3/4;
    background-color:#2e294e;
 }
    #calcButAC{
       width:4em;
       height:4em;
       font-weight:bold;
       color:white;
       background-color:#488b49;
       margin:auto; 
    }
 
 #left_paren{
    display:flex;
    justify-content:center;
    grid-column:3/4;
    grid-row:3/4;
    background-color:#2e294e;
 }
    #calcButLP{
       width:4em;
       height:4em;
       font-weight:bold;
       color:white;
       background-color:#AA6373;
       margin:auto;
    }
 
 #right_paren{
    display:flex;
    justify-content:center;
    grid-column:4/5;
    grid-row:3/4;
    background-color:#2e294e;
 }
    #calcButRP{
       width:4em;
       height:4em;
       font-weight:bold;
       color:white;
       background-color:#AA6373;
       margin:auto;
    }
 
 #divide{
    display:flex;
    justify-content:center;
    grid-column:5/6;
    grid-row:3/4;
    background-color:#2e294e;
 }
    #calcButDivide{
       width:4em;
       height:4em;
       font-weight:bold;
       color:white;
       background-color:#694d75;
       margin:auto; 
    }
 
 #multiply{
    display:flex;
    justify-content:center;
    grid-column:5/6;
    grid-row:4/5;
    background-color:#2e294e;
 }
    #calcButMultiply{
       width:4em;
       height:4em;
       font-weight:bold;
       color:white;
       background-color:#694d75;
       margin:auto; 
    }
 
 #add{
    display:flex;
    justify-content:center;
    grid-column:5/6;
    grid-row:5/6;
    background-color:#2e294e;
 }
    #calcButAdd{
       width:4em;
       height:4em;
       font-weight:bold;
       color:white;
       background-color:#694d75;
       margin:auto; 
    }
 
 #subtract{
    display:flex;
    justify-content:center;
    grid-column:5/6;
    grid-row:6/7;
    background-color:#2e294e;
 }
    #calcButSubtract{
       width:4em;
       height:4em;
       font-weight:bold;
       color:white;
       background-color:#694d75;
       margin:auto; 
    }
 
 #equals{
    display:flex;
    justify-content:center;
    grid-column:5/6;
    grid-row:7/8;
    background-color:#2e294e;
 }
    #calcButEquals{
       width:4em;
       height:4em;
       font-weight:bold;
       color:white;
       background-color:#488b49;
       margin:auto; 
    }
 
 #dot{
    display:flex;
    justify-content:center;
    grid-column:4/5;
    grid-row:7/8;
    background-color:#2e294e;
 }
    #calcButDot{
       width:4em;
       height:4em;
       font-weight:bold;
       color:white;
       background-color:#AA6373;
       margin:auto; 
    }
 
 #plus_minus{
    display:flex;
    justify-content:center;
    grid-column:3/4;
    grid-row:7/8;
    background-color:#2e294e;
 }
    #calcButPlus_Minus{
       width:4em;
       height:4em;
       font-weight:bold;
       color:white;
       background-color:#AA6373;
       margin:auto;
    }
 
 #seven{
    display:flex;
    justify-content:center;
    grid-column:2/3;
    grid-row:4/5;
    background-color:#131112;
 }
    #calcBut7{
       width:4em;
       height:4em;
       font-weight:bold;
       color:white;
       background-color:#131112;
       margin:auto; 
    }
 
 #eight{
    display:flex;
    justify-content:center;
    grid-column:3/4;
    grid-row:4/5;
    background-color:#131112;
 }
    #calcBut8{
       width:4em;
       height:4em;
       font-weight:bold;
       color:white;
       background-color:#131112;
       margin:auto; 
    }
 
 #nine{
    display:flex;
    justify-content:center;
    grid-column:4/5;
    grid-row:4/5;
    background-color:#131112;
 }
    #calcBut9{
       width:4em;
       height:4em;
       font-weight:bold;
       color:white;
       background-color:#131112;
       margin:auto; 
    }
 
 #four{
    display:flex;
    justify-content:center;
    grid-column:2/3;
    grid-row:5/6;
    background-color:#131112;
 }
    #calcBut4{
       width:4em;
       height:4em;
       font-weight:bold;
       color:white;
       background-color:#131112;
       margin:auto; 
    }
 
 #five{
    display:flex;
    justify-content:center;
    grid-column:3/4;
    grid-row:5/6;
    background-color:#131112;
 }
    #calcBut5{
       width:4em;
       height:4em;
       font-weight:bold;
       color:white;
       background-color:#131112;
       margin:auto; 
    }
 
 #six{
    display:flex;
    justify-content:center;
    grid-column:4/5;
    grid-row:5/6;
    background-color:#131112;
 }
    #calcBut6{
       width:4em;
       height:4em;
       font-weight:bold;
       color:white;
       background-color:#131112;
       margin:auto; 
    }
 
 #one{
    display:flex;
    justify-content:center;
    grid-column:2/3;
    grid-row:6/7;
    background-color:#131112;
 }
    #calcbut1{
       width:4em;
       height:4em;
       font-weight:bold;
       color:white;
       background-color:#131112;
       margin:auto; 
    }
 
 #two{
    display:flex;
    justify-content:center;
    grid-column:3/4;
    grid-row:6/7;
    background-color:#131112;
 }
    #calcBut2{
       width:4em;
       height:4em;
       font-weight:bold;
       color:white;
       background-color:#131112;
       margin:auto; 
    }
 
 #three{
    display:flex;
    justify-content:center;
    grid-column:4/5;
    grid-row:6/7;
    background-color:#131112;
 }
    #calcBut3{
       width:4em;
       height:4em;
       font-weight:bold;
       color:white;
       background-color:#131112;
       margin:auto; 
    }
 
 #zero{
    display:flex;
    justify-content:center;
    grid-column:2/3;
    grid-row:7/8;
    background-color:#131112;
 }
    #calcBut0{
       width:4em;
       height:4em;
       font-weight:bold;
       color:white;
       background-color:#131112;
       margin:auto; 
    }
 .innerNum{
    font-size:2em;
 }
 
 